.navbar {
    display:block;
    display: flex;
    text-decoration: none;
    background-color: rgb(238, 254, 244);
    padding: 5px 5px;
}
.navbar a{
    text-decoration: none;
    color: rgb(26, 25, 25);
}
.navbar a:visited{
 color: brown;
}
 .list li {
    color:black;
    display: inline-flex;
    padding: 14px 16px;
    font-size: 20px;
 }
 .navbar h1 {
    font-size: 30px;
    margin-left:30px;
    margin-top: 7px;
 }
.list {
    margin-left: 800px;
}
.hero {
    background-image:url(https://e0.pxfuel.com/wallpapers/416/425/desktop-wallpaper-black-car-neon-lamborghini-vehicle-artwork-rear-view-%E2%80%A2-for-you-for-mobile-electric-blue-car.jpg);
    color:rgb(255, 252, 251);
    background-repeat:repeat;
    text-align:center;
    font-size:40px;
    padding: 200px;
    opacity: 90%;
}
/* .hero h2 {
    text-align:center;


} */

.container-4 {
    
    padding: 30px;
}
.heading {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 7px;
}